@font-face {
	font-family: font-family: 'Gugi', cursive;
	src: url("./fonts/Gugi-Regular.ttf");
}

body {
	font-family: 'Gugi', cursive;
	font-size: 16px;
	color: white;
}


h3, h4, h5, h6, p {
	font-family: 'Skranji', cursive;
	font-size: 30px;
	color: white;
}

h4, h5, h6 {
	font-family: 'Gugi', cursive;
	font-size: 24px;
	color: #fcb83d;
}
